extends ~@/views/layouts/main/main

block title
  title

block content

  include ./_imports/import

  - const data = require('./data.json')


  #tender-pg
    +header

    +section-1

    +section-2

    +section-3
