#tender-pg {
	.section-3 {
		overflow-x: hidden;
		background-color: #fff;
	}

	.section-3__wrap {
		@include container;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 102px 0 144px;

		&:after {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: #f9fbff;
			transform: translateX(82%);
			content: '';
		}
	}

	.section-3__title {
		margin-bottom: 76px;
		color: #415167;
		font-weight: bold;
		font-size: 55px;
		font-family: 'Intro-Bold', sans-serif;
		text-align: center;

		br {
			display: none;
		}
	}

	.section-3__gallery {
		position: relative;
		z-index: 10;
		max-width: 100%;
	}

	.section-3__scroll-label {
		position: absolute;
		display: none;
		align-items: center;
		padding-bottom: 21px;
		color: #979797;
		font-size: 12px;
		line-height: 1;
		transform: translateY(-100%);
		animation: scrollAnim 3s cubic-bezier(0, 0.8, 1, 0.22) infinite;
	}

	.section-3__scroll-icon {
		margin-left: 8.8px;
	}

	.section-3__mobile-slider {
		display: none;
	}

	.section-3__btn-more {
		position: absolute;
		right: 0;
		z-index: 20;
		display: flex;
		flex-direction: column;
		color: #415167;
		font-weight: 700;
		font-size: 16px;
		font-family: 'Intro-Bold', sans-serif;
		line-height: 1;

		&:hover {
			color: #243348;

			svg {
				path {
					fill: #243348;
				}
			}
		}

		svg {
			width: 26px;
			margin-bottom: 19px;
		}
	}

	.section-3__img-list {
		display: flex;

		> * {
			&:first-child {
				margin-right: 6px;
			}

			&:last-child {
				margin-left: 6px;
			}
		}
	}

	.section-3__single-container {
	}

	.section-3__double-container {
		display: flex;
		flex-direction: column;

		.section-3__img {
			&:first-child {
				margin-bottom: 12px;
			}
		}
	}

	.section-3--mt {
		margin-top: 104px;
	}

	.section-3__img {
		width: 100%;
		max-width: 580px;
	}

	// Media queries

	@include less-xl {
		.section-3__gallery {
			padding: 0 34px;
		}

		.section-3__btn-more {
			margin-right: 34px;
		}
	}

	@include less-lg {
		.section-3__title {
			margin-bottom: 54px;
			font-size: 28px;
		}

		.section-3__btn-more {
			font-size: 0;
		}

		.section-3__double-container {
		}

		.section-3--mt {
			margin-top: 62px;
		}

		.section-3__wrap {
			padding: 81px 0 104px;
		}
	}

	@include less-md {
	}

	@include less-sm {
		.section-3__wrap {
			padding: 54px 0 80px;
		}

		.section-3__title {
			margin-bottom: 68px;
			font-size: 20px;
			line-height: 1.3;

			br {
				display: inline;
			}
		}

		.section-3__btn-more {
			display: none;
		}

		.section-3__slider {
			display: none;
		}

		.section-3__gallery {
			padding-right: 0;
			padding-left: 10px;
		}

		.section-3__scroll-label {
			display: flex;
		}

		.section-3__mobile-slider {
			display: block;
		}

		.section-3__slide {
			max-width: 198px;
		}

		.section-3__img {
		}
	}

	// Mixes

	// Animation

	@keyframes scrollAnim {
		from {
			transform: translate(0, -100%);
			opacity: 0;
		}

		20% {
			opacity: 1;
		}

		80% {
			opacity: 1;
		}

		to {
			transform: translate(200%, -100%);
			opacity: 0;
		}
	}
}
